<section class="relative">
  <div class="px-8 2xl:max-w-7xl mx-auto pt-12">
    <svg
      viewBox="0 0 578 58"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
      class="text-secondary"
    >
      <path
        d="M563.287 45.6545C563.632 45.6545 563.927 45.7152 564.175 45.8364C564.427 45.9576 564.623 46.1297 564.764 46.3527C564.904 46.5758 564.975 46.8448 564.975 47.16C564.975 47.4703 564.904 47.7394 564.764 47.9673C564.623 48.1903 564.427 48.3624 564.175 48.4836C563.927 48.6049 563.632 48.6655 563.287 48.6655H562.218V50.4545H561.44V45.6545H563.287ZM563.164 47.9964C563.508 47.9964 563.76 47.9261 563.92 47.7855C564.085 47.64 564.167 47.4315 564.167 47.16C564.167 46.8836 564.085 46.6752 563.92 46.5345C563.76 46.3891 563.508 46.3164 563.164 46.3164H562.218V47.9964H563.164Z"
        fill="currentColor"></path>
      <path
        d="M569.789 45.6545V50.4545H568.865L567.011 47.4291L566.545 46.5782H566.538L566.567 47.3564V50.4545H565.854V45.6545H566.771L568.618 48.6727L569.091 49.5382H569.098L569.069 48.7527V45.6545H569.789Z"
        fill="currentColor"></path>
      <path
        d="M574.998 45.6545L572.86 47.9673L572.773 47.9745L571.529 49.3127L571.457 48.4618L574.046 45.6545H574.998ZM571.842 45.6545V50.4545H571.064V45.6545H571.842ZM573.02 47.3709L575.042 50.4545H574.126L572.402 47.8073L573.02 47.3709Z"
        fill="currentColor"></path>
      <path
        d="M0.880005 57V17H12.88L13.44 25.64C14.4533 22.6533 15.9467 20.3333 17.92 18.68C19.9467 17.0267 22.5067 16.2 25.6 16.2C26.6133 16.2 27.4667 16.28 28.16 16.44C28.9067 16.6 29.4933 16.8133 29.92 17.08L28.56 28.28C28.0267 28.0667 27.3333 27.9067 26.48 27.8C25.68 27.64 24.6933 27.56 23.52 27.56C21.92 27.56 20.4267 27.9067 19.04 28.6C17.6533 29.2933 16.5333 30.3333 15.68 31.72C14.88 33.0533 14.48 34.76 14.48 36.84V57H0.880005Z"
        fill="currentColor"></path>
      <path
        d="M52.7063 57.8C48.2796 57.8 44.4396 56.9733 41.1863 55.32C37.9863 53.6667 35.5063 51.2933 33.7463 48.2C31.9863 45.1067 31.1063 41.3733 31.1063 37C31.1063 32.6267 31.9863 28.8933 33.7463 25.8C35.5063 22.7067 37.9596 20.3333 41.1063 18.68C44.3063 17.0267 47.9596 16.2 52.0663 16.2C56.2796 16.2 59.8529 17.0267 62.7863 18.68C65.7729 20.28 68.0396 22.52 69.5863 25.4C71.1329 28.2267 71.9063 31.48 71.9063 35.16C71.9063 36.12 71.8796 37.08 71.8263 38.04C71.7729 39 71.6929 39.8 71.5863 40.44H39.9063V33.16H65.5863L59.1063 35.64C59.1063 32.44 58.5196 29.9867 57.3463 28.28C56.2263 26.5733 54.4663 25.72 52.0663 25.72C50.3596 25.72 48.8929 26.12 47.6663 26.92C46.4929 27.72 45.5863 28.9733 44.9463 30.68C44.3596 32.3867 44.0663 34.5733 44.0663 37.24C44.0663 39.8533 44.4129 41.9867 45.1063 43.64C45.7996 45.24 46.7863 46.4133 48.0663 47.16C49.3463 47.8533 50.8929 48.2 52.7063 48.2C54.7329 48.2 56.3329 47.8 57.5063 47C58.7329 46.2 59.6396 45.08 60.2263 43.64L71.1063 47.24C70.3596 49.5333 69.0529 51.48 67.1863 53.08C65.3729 54.6267 63.1863 55.8 60.6263 56.6C58.1196 57.4 55.4796 57.8 52.7063 57.8Z"
        fill="currentColor"></path>
      <path
        d="M77.9144 57V17H90.0744L90.4744 24.76C91.7544 21.9333 93.541 19.8 95.8344 18.36C98.181 16.92 100.874 16.2 103.914 16.2C106.901 16.2 109.488 16.8667 111.674 18.2C113.861 19.5333 115.488 21.5067 116.554 24.12C117.408 22.36 118.501 20.8933 119.834 19.72C121.221 18.5467 122.794 17.6667 124.554 17.08C126.314 16.4933 128.128 16.2 129.994 16.2C132.661 16.2 135.008 16.7333 137.034 17.8C139.061 18.8133 140.661 20.3867 141.834 22.52C143.061 24.6 143.674 27.2133 143.674 30.36V57H130.074V33.48C130.074 30.92 129.568 29.1333 128.554 28.12C127.594 27.1067 126.288 26.6 124.634 26.6C123.301 26.6 122.074 26.9467 120.954 27.64C119.888 28.28 119.061 29.2667 118.474 30.6C117.888 31.9333 117.594 33.6133 117.594 35.64V57H103.994V33.48C103.994 30.92 103.488 29.1333 102.474 28.12C101.461 27.1067 100.154 26.6 98.5544 26.6C97.3277 26.6 96.1544 26.92 95.0344 27.56C93.9677 28.2 93.1144 29.2133 92.4744 30.6C91.8344 31.9333 91.5144 33.6933 91.5144 35.88V57H77.9144Z"
        fill="currentColor"></path>
      <path
        d="M170.667 16.2C174.88 16.2 178.56 17.0267 181.707 18.68C184.907 20.28 187.387 22.6533 189.147 25.8C190.96 28.8933 191.867 32.6267 191.867 37C191.867 41.3733 190.96 45.1333 189.147 48.28C187.387 51.3733 184.907 53.7467 181.707 55.4C178.56 57 174.88 57.8 170.667 57.8C166.56 57.8 162.907 57 159.707 55.4C156.507 53.7467 154 51.3733 152.187 48.28C150.427 45.1333 149.547 41.3733 149.547 37C149.547 32.6267 150.427 28.8933 152.187 25.8C154 22.6533 156.507 20.28 159.707 18.68C162.907 17.0267 166.56 16.2 170.667 16.2ZM170.667 25.88C169.12 25.88 167.787 26.2533 166.667 27C165.547 27.7467 164.694 28.9467 164.107 30.6C163.52 32.2533 163.227 34.3867 163.227 37C163.227 39.6133 163.52 41.7467 164.107 43.4C164.694 45 165.547 46.2 166.667 47C167.787 47.7467 169.12 48.12 170.667 48.12C172.267 48.12 173.627 47.7467 174.747 47C175.867 46.2 176.72 45 177.307 43.4C177.894 41.7467 178.187 39.6133 178.187 37C178.187 34.3867 177.894 32.2533 177.307 30.6C176.72 28.9467 175.867 27.7467 174.747 27C173.627 26.2533 172.267 25.88 170.667 25.88Z"
        fill="currentColor"></path>
      <path
        d="M214.403 4.28V42.76C214.403 44.68 214.856 46.0667 215.763 46.92C216.723 47.72 218.03 48.12 219.683 48.12C220.963 48.12 222.056 47.9867 222.963 47.72C223.923 47.4 224.776 46.9467 225.523 46.36L226.963 54.76C225.63 55.72 223.95 56.4667 221.923 57C219.896 57.5333 217.816 57.8 215.683 57.8C212.643 57.8 210.003 57.3733 207.763 56.52C205.576 55.6667 203.87 54.3067 202.643 52.44C201.47 50.5733 200.856 48.0933 200.803 45V8.04L214.403 4.28ZM226.323 17V26.68H193.923V17H226.323Z"
        fill="currentColor"></path>
      <path
        d="M250.525 57.8C246.098 57.8 242.258 56.9733 239.005 55.32C235.805 53.6667 233.325 51.2933 231.565 48.2C229.805 45.1067 228.925 41.3733 228.925 37C228.925 32.6267 229.805 28.8933 231.565 25.8C233.325 22.7067 235.778 20.3333 238.925 18.68C242.125 17.0267 245.778 16.2 249.885 16.2C254.098 16.2 257.672 17.0267 260.605 18.68C263.592 20.28 265.858 22.52 267.405 25.4C268.952 28.2267 269.725 31.48 269.725 35.16C269.725 36.12 269.698 37.08 269.645 38.04C269.592 39 269.512 39.8 269.405 40.44H237.725V33.16H263.405L256.925 35.64C256.925 32.44 256.338 29.9867 255.165 28.28C254.045 26.5733 252.285 25.72 249.885 25.72C248.178 25.72 246.712 26.12 245.485 26.92C244.312 27.72 243.405 28.9733 242.765 30.68C242.178 32.3867 241.885 34.5733 241.885 37.24C241.885 39.8533 242.232 41.9867 242.925 43.64C243.618 45.24 244.605 46.4133 245.885 47.16C247.165 47.8533 248.712 48.2 250.525 48.2C252.552 48.2 254.152 47.8 255.325 47C256.552 46.2 257.458 45.08 258.045 43.64L268.925 47.24C268.178 49.5333 266.872 51.48 265.005 53.08C263.192 54.6267 261.005 55.8 258.445 56.6C255.938 57.4 253.298 57.8 250.525 57.8Z"
        fill="currentColor"></path>
      <path
        d="M347.705 17H361.945L349.865 57H333.545L326.265 32.44L319.225 57H302.985L290.825 17H305.145L311.865 46.52L319.705 17H333.145L340.905 46.52L347.705 17Z"
        fill="currentColor"></path>
      <path
        d="M383.761 16.2C387.974 16.2 391.654 17.0267 394.801 18.68C398.001 20.28 400.481 22.6533 402.241 25.8C404.054 28.8933 404.961 32.6267 404.961 37C404.961 41.3733 404.054 45.1333 402.241 48.28C400.481 51.3733 398.001 53.7467 394.801 55.4C391.654 57 387.974 57.8 383.761 57.8C379.654 57.8 376.001 57 372.801 55.4C369.601 53.7467 367.094 51.3733 365.281 48.28C363.521 45.1333 362.641 41.3733 362.641 37C362.641 32.6267 363.521 28.8933 365.281 25.8C367.094 22.6533 369.601 20.28 372.801 18.68C376.001 17.0267 379.654 16.2 383.761 16.2ZM383.761 25.88C382.214 25.88 380.881 26.2533 379.761 27C378.641 27.7467 377.787 28.9467 377.201 30.6C376.614 32.2533 376.321 34.3867 376.321 37C376.321 39.6133 376.614 41.7467 377.201 43.4C377.787 45 378.641 46.2 379.761 47C380.881 47.7467 382.214 48.12 383.761 48.12C385.361 48.12 386.721 47.7467 387.841 47C388.961 46.2 389.814 45 390.401 43.4C390.987 41.7467 391.281 39.6133 391.281 37C391.281 34.3867 390.987 32.2533 390.401 30.6C389.814 28.9467 388.961 27.7467 387.841 27C386.721 26.2533 385.361 25.88 383.761 25.88Z"
        fill="currentColor"></path>
      <path
        d="M411.011 57V17H423.011L423.571 25.64C424.585 22.6533 426.078 20.3333 428.051 18.68C430.078 17.0267 432.638 16.2 435.731 16.2C436.745 16.2 437.598 16.28 438.291 16.44C439.038 16.6 439.625 16.8133 440.051 17.08L438.691 28.28C438.158 28.0667 437.465 27.9067 436.611 27.8C435.811 27.64 434.825 27.56 433.651 27.56C432.051 27.56 430.558 27.9067 429.171 28.6C427.785 29.2933 426.665 30.3333 425.811 31.72C425.011 33.0533 424.611 34.76 424.611 36.84V57H411.011Z"
        fill="currentColor"></path>
      <path
        d="M487.706 17L468.506 37.48L465.946 38.2L454.506 51L454.426 37.08L472.586 17H487.706ZM457.386 0.039999V57H443.786V0.039999H457.386ZM470.586 29L488.586 57H473.546L461.706 37L470.586 29Z"
        fill="currentColor"></path>
      <path
        d="M509.362 57.8C504.936 57.8 501.096 56.9733 497.842 55.32C494.642 53.6667 492.162 51.2933 490.402 48.2C488.642 45.1067 487.763 41.3733 487.763 37C487.763 32.6267 488.642 28.8933 490.402 25.8C492.162 22.7067 494.616 20.3333 497.763 18.68C500.963 17.0267 504.616 16.2 508.723 16.2C512.936 16.2 516.509 17.0267 519.443 18.68C522.429 20.28 524.696 22.52 526.242 25.4C527.789 28.2267 528.562 31.48 528.562 35.16C528.562 36.12 528.536 37.08 528.482 38.04C528.429 39 528.349 39.8 528.242 40.44H496.562V33.16H522.242L515.763 35.64C515.763 32.44 515.176 29.9867 514.003 28.28C512.883 26.5733 511.123 25.72 508.723 25.72C507.016 25.72 505.549 26.12 504.323 26.92C503.149 27.72 502.243 28.9733 501.603 30.68C501.016 32.3867 500.723 34.5733 500.723 37.24C500.723 39.8533 501.069 41.9867 501.763 43.64C502.456 45.24 503.443 46.4133 504.723 47.16C506.003 47.8533 507.549 48.2 509.362 48.2C511.389 48.2 512.989 47.8 514.162 47C515.389 46.2 516.296 45.08 516.883 43.64L527.763 47.24C527.016 49.5333 525.709 51.48 523.843 53.08C522.029 54.6267 519.842 55.8 517.282 56.6C514.776 57.4 512.136 57.8 509.362 57.8Z"
        fill="currentColor"></path>
      <path
        d="M534.571 57V17H546.571L547.131 25.64C548.144 22.6533 549.637 20.3333 551.611 18.68C553.637 17.0267 556.197 16.2 559.291 16.2C560.304 16.2 561.157 16.28 561.851 16.44C562.597 16.6 563.184 16.8133 563.611 17.08L562.251 28.28C561.717 28.0667 561.024 27.9067 560.171 27.8C559.371 27.64 558.384 27.56 557.211 27.56C555.611 27.56 554.117 27.9067 552.731 28.6C551.344 29.2933 550.224 30.3333 549.371 31.72C548.571 33.0533 548.171 34.76 548.171 36.84V57H534.571Z"
        fill="currentColor"></path>
      <circle
        cx="568"
        cy="48"
        r="9.77273"
        stroke="currentColor"
        stroke-width="0.454545"></circle>
    </svg>
  </div>
  <div class="px-8 2xl:max-w-7xl mx-auto pb-12">
    <div class="mt-6 space-y-2">
      <div class="h-0.5 bg-secondary"></div>
      <div class="flex flex-col sm:flex-row gap-3 justify-between items-center">
        <div
          class="flex gap-2.5 items-center sm:w-full max-sm:flex-col max-sm:gap-1 max-sm:items-start"
        >
          <h3 class="text-secondary text-xs font-medium">
            <span>A Collaborative & Supportive Circle for</span>
            <span class="italic">All Remote Workers</span>
          </h3>
          <span class="h-auto border-secondary border max-sm:hidden"></span>
          <span
            class="text-secondary text-xs font-semibold max-sm:flex items-center max-sm:w-full justify-end"
          >
            <span class="w-3 h-px mr-2 bg-secondary sm:hidden"></span> in Pontianak</span
          >
        </div>
        <div>
          <ul class="items-center inline-flex gap-3 relative">
            <li>
              <a
                href="https://dribbble.com/"
                class="hover:text-secondary/80 text-secondary"
                ><svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="16"
                  height="16"
                  viewBox="0 0 24 24"
                  fill="none"
                  stroke="currentColor"
                  stroke-width="2"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  ><rect x="2" y="2" width="20" height="20" rx="5" ry="5"
                  ></rect><path
                    d="M16 11.37A4 4 0 1 1 12.63 8 4 4 0 0 1 16 11.37z"
                  ></path><line x1="17.5" y1="6.5" x2="17.51" y2="6.5"
                  ></line></svg
                >
                <span class="sr-only">Instagram</span>
              </a>
            </li><li>
              <a
                href="https://twitter.com/"
                class="hover:text-secondary/80 text-secondary"
                ><svg
                  viewBox="0 0 24 24"
                  xmlns="http://www.w3.org/2000/svg"
                  height="16"
                  width="16"
                  ><path d="M0 0h24v24H0z" fill="none"></path><path
                    d="M15.3 5.55a2.9 2.9 0 0 0-2.9 2.847l-.028 1.575a.6.6 0 0 1-.68.583l-1.561-.212c-2.054-.28-4.022-1.226-5.91-2.799-.598 3.31.57 5.603 3.383 7.372l1.747 1.098a.6.6 0 0 1 .034.993L7.793 18.17c.947.059 1.846.017 2.592-.131 4.718-.942 7.855-4.492 7.855-10.348 0-.478-1.012-2.141-2.94-2.141zm-4.9 2.81a4.9 4.9 0 0 1 8.385-3.355c.711-.005 1.316.175 2.669-.645-.335 1.64-.5 2.352-1.214 3.331 0 7.642-4.697 11.358-9.463 12.309-3.268.652-8.02-.419-9.382-1.841.694-.054 3.514-.357 5.144-1.55C5.16 15.7-.329 12.47 3.278 3.786c1.693 1.977 3.41 3.323 5.15 4.037 1.158.475 1.442.465 1.973.538z"
                    fill="currentColor"></path></svg
                >
                <span class="sr-only">Twitter</span>
              </a>
            </li><li>
              <a
                href="mailto:join@remoteworkerpnk.id"
                class="hover:text-secondary/80 text-secondary"
                ><svg
                  viewBox="0 0 24 24"
                  xmlns="http://www.w3.org/2000/svg"
                  height="16"
                  width="16"
                  ><path d="M0 0h24v24H0z" fill="none"></path><path
                    d="M3 3h18a1 1 0 0 1 1 1v16a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V4a1 1 0 0 1 1-1zm17 4.238l-7.928 7.1L4 7.216V19h16V7.238zM4.511 5l7.55 6.662L19.502 5H4.511z"
                    fill="currentColor"></path></svg
                >
                <span class="sr-only">Email</span>
              </a>
            </li>
          </ul>
        </div>
      </div>
      <div class="h-1.5 bg-secondary"></div>
      <div class="h-3 bg-secondary"></div>
      <div class="h-6 bg-secondary"></div>
      <div class="h-12 bg-secondary"></div>
      <div class="h-24 bg-secondary flex items-end p-4"></div>
      <div class="flex w-full justify-between">
        <span class="text-xs">👨‍💻</span>
        <span class="text-xs font-medium text-secondary flex">
          get in
          <a
            class="hover:text-black duration-200 font-bold ml-0.5 inline-flex items-center gap-1"
            href="/"
            >touch <svg
              width="22"
              height="10"
              viewBox="0 0 22 10"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
              class="w-5"
            >
              <path
                fill-rule="evenodd"
                clip-rule="evenodd"
                d="M16.6464 0.646447C16.8417 0.451184 17.1583 0.451184 17.3536 0.646447L21.3536 4.64645C21.5488 4.84171 21.5488 5.15829 21.3536 5.35355L17.3536 9.35355C17.1583 9.54882 16.8417 9.54882 16.6464 9.35355C16.4512 9.15829 16.4512 8.84171 16.6464 8.64645L19.7929 5.5H1C0.723858 5.5 0.5 5.27614 0.5 5C0.5 4.72386 0.723858 4.5 1 4.5H19.7929L16.6464 1.35355C16.4512 1.15829 16.4512 0.841709 16.6464 0.646447Z"
                fill="currentColor"></path>
            </svg>
          </a></span
        >
      </div>
    </div>
  </div>
</section>
