---
const members = [
  {
    url: "/",
    title: "Surya Mahardika",
  },
  {
    url: "/",
    title: "Sarpandi",
  },
  {
    url: "/",
    title: "Zullidar",
  },
  {
    url: "/",
    title: "Muhammad Rafif",
  },
  {
    url: "/",
    title: "Fath Irfaan",
  },
  {
    url: "/",
    title: "Hasbi",
  },
  {
    url: "/members",
    title: "Other members",
  },
];
---

<section class="relative">
  <div class="px-8 2xl:max-w-7xl mx-auto py-6">
    <div class="mt-32 space-y-2">
      <div class="h-0.5 bg-secondary"></div>
      <h3 class="text-secondary text-xs font-medium">
        <span>Our</span>
        <span class="font-bold">active</span>
        <span class="italic">members</span>
      </h3>
      <div class="h-1.5 bg-secondary"></div>
      <div class="h-3 bg-secondary"></div>
      <div class="h-6 bg-secondary"></div>
      <div class="h-12 bg-secondary"></div>
      <div class="h-24 bg-secondary"></div>
    </div>

    <ul
      class="mx-auto lg:flex grid grid-cols-2 lg:flex-row text-left gap-3 items-start text-secondary mt-3"
    >
      {
        members.map((template) => (
          <>
            <li class="flow-root col-span-full h-full max-lg:col-span-1">
              <a href={template.url}>
                <div>
                  <p class="italic shrink-0 text-xs ">{template.title}</p>
                </div>
              </a>
            </li>
          </>
        ))
      }
    </ul>
  </div>
</section>
