---
import BaseLayout from "@/layouts/BaseLayout.astro";
---

<BaseLayout title="Under construction">
  <section class="relative h-[100dvh] flex flex-col">
    <div class="px-8 2xl:max-w-7xl mx-auto py-12 w-full">
      <div class="mt-6 space-y-2">
        <div class="h-0.5 bg-secondary"></div>
        <h3 class="text-secondary text-base font-medium">
          <span>404</span>
          <span class="font-bold">Page Not Found</span>
        </h3>
        <div class="h-1.5 bg-secondary"></div>
      </div>
    </div>
    <div
      class="text-center text-secondary flex-1 px-8 flex-col gap-8 2xl:max-w-7xl mx-auto pt-12 pb-32 w-full flex items-center justify-center"
    >
      <p class="text-2xl sm:text-4xl font-bold">🚧 Under construction 🚧</p>
      <span class="text-xs font-medium text-secondary">
        <a
          class="hover:text-black duration-200 font-bold ml-0.5 inline-flex items-center gap-1"
          href="/"
        >
          <svg
            width="22"
            height="10"
            viewBox="0 0 22 10"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
            class="w-5 scale-x-[-1]"
          >
            <path
              fill-rule="evenodd"
              clip-rule="evenodd"
              d="M16.6464 0.646447C16.8417 0.451184 17.1583 0.451184 17.3536 0.646447L21.3536 4.64645C21.5488 4.84171 21.5488 5.15829 21.3536 5.35355L17.3536 9.35355C17.1583 9.54882 16.8417 9.54882 16.6464 9.35355C16.4512 9.15829 16.4512 8.84171 16.6464 8.64645L19.7929 5.5H1C0.723858 5.5 0.5 5.27614 0.5 5C0.5 4.72386 0.723858 4.5 1 4.5H19.7929L16.6464 1.35355C16.4512 1.15829 16.4512 0.841709 16.6464 0.646447Z"
              fill="currentColor"></path>
          </svg>go
        </a> home</span
      >
    </div>
  </section>
</BaseLayout>
